@using BS2WebApp.Models;
@model StudentModel

@{
    ViewBag.Title = "Schüler bearbeiten";
}

<h2>Schüler bearbeiten</h2>

@using (Html.BeginForm("EditStudent", "BS2", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn">Speichern</button>
}


