@using BS2WebApp.Models;
@model IEnumerable<TeacherModel>

@{
    ViewBag.Title = "Lehrer";
}

<h2>Lehrer</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Alter</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeacherModel tmpModel in Model)
        {
        <tr>
            <td>@tmpModel.Id</td>
            <td>@tmpModel.Name</td>
            <td>@tmpModel.Age</td>
            <td>
                @using (Html.BeginForm("EditTeacher", "Teacher", new { id = tmpModel.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn">Bearbeiten</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("DeleteTeacher", "Teacher", new { id = tmpModel.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger">Löschen</button>
                }
            </td>
        </tr>
        }


    </tbody>
</table>
